<launch>

	<arg name="quad" default="SQ01s"/>
	<arg name="goal_topic" default="goal"/>
	<arg name="mode" default="mtlp_benchmark"/>


	<node ns="$(arg quad)" name="neptune" pkg="neptune" type="neptune_test_node" output="screen" clear_params="false" > 
    <rosparam file="$(find neptune)/param/neptune_$(arg mode).yaml" command="load"/>
        <!-- Subscriptions -->
		<remap from="~state" to="state"/>
		<remap from="~term_goal" to="term_goal" />

		<!-- Publications -->
		<remap from="~traj" to="traj"/>
		<remap from="~goal" to="$(arg goal_topic)" />
		<remap from="~setpoint" to="setpoint" />
		<remap from="~command/trajectory" to="command/trajectory" />
		<remap from="~ground_truth/odometry" to="unity/odom" />
		<!-- <remap from="~ground_truth/odometry" to="vins_estimator/odometry" /> -->
		
	</node>

</launch>


<!-- launch-prefix="xterm -e gdb -ex run args" -->